.content-box{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-bottom: 1px solid #000000;
    margin-bottom: 22px;
    padding-bottom: 22px;
    .img_content{
        max-width: 200px;
        margin-right: 18px;
        img{
            width: 100%;
        }
    }
    .info{
        margin-left: 12px;
        h2{
            font-size: 22px;
            margin-bottom: 12px;
        }
        h4{
            margin-bottom: 6px;
            font-size: 20px;
        }
        p{
            margin-bottom: 4px;
        }
        .audio{
            display: block;
            margin-top: 30px;
        }
    }
}
.fa-star{
    font-size: 32px;
    cursor: pointer;
}

@media screen and (max-width: 680px){
    .content-box{
        .img_content{
            max-width: 90%;
            margin: auto;
            margin-bottom: 25px;
        }
        .info{
            margin-left: 5%;
        }
    }
}