@import '../assets/styles/_reset.scss';
@import '../assets/styles/_colors.scss';

body{
    font-family: 'Open Sans', sans-serif;
}
.container{
    max-width: 1280px;
    margin: auto;
}
header{
    .container{
        display: flex;
    }
    padding: 20px 0;
    height: 60px;
    background: $grey;
    .img_container{
        width: 48px;
        min-width: 48px;
        margin-right: 20px;
        img{
            width: 100%;
        }
    }
    h1{
        font-size: 24px;
        margin: 4px 0 0 22px;
    }
}

.content{
    padding-top: 60px; 
}

@media(max-width: 1350px){
    .container{
        width: 95%;
        margin: auto;
    }
}