.songs_list{
    margin-bottom: 50px;
    .song_item{
        border: 1px solid #000000;
        border-bottom: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        &:last-child{
            border-bottom: 1px solid #000000;
        }
        span{
            min-width: 400px;
        }
        .audio_content{
            display: flex;
            audio{
                border-radius: 0;
                min-width: 300px;
                margin-right: 16px;
            }
            .star-content{
                display: flex;
                align-items: center;
            }
        }
    }
}