.login-spotify{
    display: block;
    width: 200px;
    padding: 20px 0;
    margin: 200px auto;
    background: blue;
    border-radius: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
}