.tracks_list{
    margin-bottom: 50px;
    .track_item{
        border: 1px solid #000000;
        border-bottom: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        &:last-child{
            border-bottom: 1px solid #000000;
        }
        span{
            min-width: 400px;
        }
        .audio_content{
            display: flex;
            flex-wrap: wrap;
            audio{
                border-radius: 0;
                min-width: 300px;
                margin-right: 16px;
            }
            .star-content{
                display: flex;
                align-items: center;
            }
        }
    }
}

@media screen and (max-width: 680px){
    .tracks_list .track_item span{
        margin: 15px 0;
        text-align: center;
        min-width: 100%;
        display: inline-block;
    }
    .audio_content .star-content{
        margin: 15px auto;
    }
}