.search-form{
    width: 600px;
    max-width: 90%;
    height: 60px;
    margin: auto;
    position: relative;
    input[type=text]{
        width: calc(100% - 52px);
        padding: 16px 12px 16px 40px;
        border-radius: 20px;
        font-size: 22px;
        border: 1px solid #7c7c7c;
    }
    i{
        position: absolute;
        top: 20px;
        left: 12px;
        font-size: 22px;
    }
    .content-spinner{
        position: absolute;
        top: 0;
        right: 0;
        .loader{
            width: 3em;
            height: 3em;
            margin: 15px;
        }
    }
}