.albums_list{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    .item{
        display: flex;
        width: 49%;
        min-width: 400px;
        padding-right: 1%;
        margin-bottom: 18px;
        .img_content{
            width: 200px;
            min-width: 200px;
            margin-right: 18px;
            img{
                width: 100%;
            }
        }
        .info{
            h4{
                margin-bottom: 6px;
            }
            p{
                margin-bottom: 4px;
            }
        }
    }
}

@media screen and (max-width: 680px){
    .albums_list{
        .item{
            min-width: 100%;
            flex-wrap: wrap;
            .img_content{
                width: 90%;
                margin: auto;
                margin-bottom: 15px;
            }
            .info{
                margin-left: 5%;
                margin-bottom: 27px;
            }
        }
    }
}